* {
	margin: 0;
	padding: 0;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	user-select: none;
	border-radius: 10px;
}
body {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}
.contener {
	width: 100%;
	display: flex;
	height: auto;
	justify-content: space-around;
	gap: 20px;
}

.div {
	background-color: rgb(38, 44, 44);
	width: auto;
	height: auto;
	display: grid;
	place-items: center;
	padding: 20px;
	gap: 20px;
	color: white;
}
h1 {
	width: 200px;
	height: 30px;
}
.task {
	width: 150px;
	height: 30px;
	font-size: 25px;
	display: grid;
	padding: 20px;
	place-items: center;
	background-color: rgb(78, 75, 69);
	color: white;
}
.a {
	background-color: rgb(0, 140, 255);
	padding: 10px 15px;
}
.b {
	background-color: rgb(241, 159, 8);
	padding: 10px 15px;
}
.c {
	background-color: yellowgreen;
	padding: 10px 15px;
}
.btn {
	width: 150px;
	height: 60px;
	font-size: 25px;
	display: grid;
	/* padding: 20px; */
	place-items: center;
	background-color: rgb(78, 75, 69);
	color: white;
}
.la {
	width: auto;
	height: auto;
	display: grid;
	place-items: center;
	gap: 20px;

}
